* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
   background-color:  rgb(25, 29, 38);
}

.navbar {
  height: 4em;
  width: 100%;
  background-color: rgb(83, 21, 22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  color: white;
  font-size: 1.2em;
  border-bottom: 2px solid black;
}

#webLogo {
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.friend {
  all: unset;
}

#webname {
  all: unset;
}

#Logoutbtn {
  all: unset;
}

.main {
  position: relative;
}
.details {
  position: absolute;
  z-index: 1;
  /* display: flex; */
}
.info {
  display: flex;
  padding: 50px;
  gap:30px;
  align-items: center;
}
.playlistSelect {
  height: 20em;
  width: 20em;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlistForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.hidden {
  display: none;
}

.Picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.contents {
  color: white;
}

.butons {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.btn {
  width:100px;
  height: 30px;
  border: 2px solid  rgb(83, 21, 22);
  box-shadow: 0 0 5px rgb(150, 40, 42);

}